@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    --poppinFont: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101, 0, 94, 0.603) 3%, rgba(60, 133, 206, 0.598) 38%, rgba(48, 238, 225, 0.541) 68%, rgba(255, 25, 25, 0.593) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;

}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(255, 255, 255, 0.167);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}



.heading{
    width: 100vw;
    height: 5.5rem;
    /* background-color: #f1c40f; */
    background-color: #2481cd6f;
    color: #ffffff;
    box-shadow: 0px 10px 16px rgba(248, 247, 247, 0.433);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 50px;

}
.heading h1{
    line-height: 5.8rem;
    margin-left: 2rem;
    font-weight: 200;

}
.add:active{
    transform: scale(0.98);
}
/* button style start */
.btn-div{
    position: fixed;
    top: 7rem;
    right: 1rem;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font: inherit;
    /* left: 19rem; */
}
button.learn-more{
    width: 12rem;
    height: auto;
}
button.learn-more .circle{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1); 
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #2ef1e1;
    border-radius: 1.625rem;
}
button.learn-more .circle .icon{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1); 
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;

}
button.learn-more .circle .icon.arrow{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1); 
    position: absolute;
    top: 12px;
    left:0.625rem;
    width: 1.125rem;
    height: 01.125rem;
    background: none;
}
button.learn-more .circle .icon.arrow::before{
    position: absolute;
    content: "";
    top:-0.25rem;
    right: 0.0635rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
button.learn-more .button-text{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1); 
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

button:hover .circle{
    width: 100%;
}

button:hover .circle .icon.arrow{
    background-color: white;
    transform: translate(1rem, 0);
}

.button:hover .button-text{
    color: white;
}
/*button style end*/
.note{
    background-color: #ffffff;
    margin: 30px 20px 30px 20px;
    height: 200px;
    width: 400px;
    overflow-y:scroll;
    margin-top: 3rem;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0, 0.1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* padding: 10px; */

    
}
.note .tools button{
    background-color: transparent;
    border: none;
    color: white;
    cursor:pointer;
    font-size: 1rem;
    margin-left:5rem;
}
.note textarea{
    outline:none;
    font: inherit;
    font-size: 1.2rem;
    border: none;
    height: 300px;
    width:100%;
    padding: 20px;
}
.fa-edit, .fa-trash-alt{
    color: white;
    padding:10px;
    background-color: #2ecc71;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 15px;
}
.fa-trash-alt{
    background-color: #e74c3c;
}


.fa-edit:hover{
    background-color: white;
    color: #27ae60;
    filter: drop-shadow(0px 10px 8px rgb(219, 218, 218));
}
.fa-trash-alt:hover{
    background-color: white;
    color: #e74c3c;
    filter: drop-shadow(0px 10px 8px rgb(219, 218, 218));
}


.main{
    padding: 20px;
}
.hidden{
    display: none;
}
.input__field
{
    width: 480px;
    /* margin: 30px auto 20px auto; */
    background: #fff;
    padding: 15px;
    border-radius: 7px;
}



@media only screen and (max-width: 345px) {
    .heading {
      font-size: small;
    }
  }

  @media only screen and (max-width: 314px) {
    .heading {
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 653px) {
    .btn-div {
        position: absolute;
        top: 7rem;
        right: 1rem;
    }
  }

  @media only screen and (max-width: 440px) {
    .btn-div {
        position: absolute;
        top: 7rem;
        left: 1rem;
    }
  }